GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=

# Cấu hình Turso Cloud Database (Để chạy vĩnh viễn trên Streamlit Cloud không mất dữ liệu)
# Nhập url cơ sở dữ liệu (ví dụ: libsql://your-db-name-org.turso.io)
# https://app.turso.tech/thuynhungp/databases/rin-anki
TURSO_DATABASE_URL=
# Nhập token xác thực từ Turso
TURSO_AUTH_TOKEN=
